doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='shortcut icon', href='images/logo.ico', type='image/x-icon')
		linl(rel='stylesheet', href='vendor/animate.css/animate.css')
		link(rel='stylesheet', href='style.css')
	body(ng-app='main', ng-controller='rootCtrl')
		block content
		





		
		script(src="vendor/angular/angular.js")
		script(src="vendor/angular-route/angular-route.js")
		script(src="vendor/angular-bootstrap/ui-bootstrap-tpls.js")
		script(src="vendor/angular-messages/angular-messages.js")
		script(src="vendor/angular-sanitize/angular-sanitize.js")
		scirpt(src="vendor/angular-mocks/angular-mocks.js")
		script(src="main.js")