a(href="#/builder/workouts", class="btn btn-primary")
	span(class="glyphicon glyphicon-home") Home
a(href="#/builder/workouts/new", class="btn btn-primary")
	span(class="glyphicon glyphicon-plus") New Workout
a(href="#/builder/exercises/new", class="btn btn-primary")
	span(class="glypghicon glyphicon-plus") New Exercise
